.container
{
    display: flex;
    justify-content: space-around;
}

.item-small
{
    flex : 0 1 30%;
}

.item-medium
{
    flex : 0 1 40%;
}

.item-large
{
    flex : 0 1 60%;
}

.item-xlarge
{
    flex : 0 1 75%;
}

.item-full
{
    flex : 0 1 100%;
}