<br>
<br>

<div class="container">

    <app-explore-table class="item-medium"></app-explore-table>
    <app-explore-table class="item-medium"></app-explore-table>

</div>

<br>
<br>

<div class="container">
    <mat-divider class="item-small"></mat-divider>
</div>

<div class="container">
    <app-racknodeselect class="item-small"></app-racknodeselect>
</div>

<div class="container">
    <mat-divider class="item-small"></mat-divider>
</div>

<br>
<br>

<div class="container">

    <div class="item-small">
        <app-explore-radar class="item-medium"></app-explore-radar>
    </div>

    <div class="item-large">
        <app-top10></app-top10>
    </div>
</div>

<br>
<br>
<br>

<div class="container">
    <div class="item-xlarge">
        <app-jobsperweek></app-jobsperweek>
    </div>
</div>

<br>
<br>
<br>

<div class="container">
    <div class="item-xlarge">
        <app-tsusage></app-tsusage>
    </div>
</div>


