<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="fos">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Field Of Science </th>
        <td mat-cell *matCellDef="let element"> {{ element.fos }} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="projects">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # Projects </th>
        <td mat-cell *matCellDef="let element"> {{ element.projects }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="jobs">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # Jobs </th>
        <td mat-cell *matCellDef="let element"> {{ element.jobs }} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="nodes">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # Nodes </th>
        <td mat-cell *matCellDef="let element"> {{ element.nodes }} </td>
      </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="duration">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let element"> {{ element.duration }} </td>
        </ng-container>
            

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>