<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Field Of Science </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>
      
      <!-- Projects Column -->
      <ng-container matColumnDef="projects">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # Projects </th>
        <td mat-cell *matCellDef="let element"> {{ element.projects }} </td>
      </ng-container>
    
      <!-- Jobs Column -->
      <ng-container matColumnDef="jobs">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # Jobs </th>
        <td mat-cell *matCellDef="let element"> {{ element.jobs }} </td>
      </ng-container>
    
      <!-- Nodes Column -->
      <ng-container matColumnDef="nodes">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # Nodes </th>
        <td mat-cell *matCellDef="let element"> {{ element.nodes }} </td>
      </ng-container>

            

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[10, 25]" showFirstLastButtons></mat-paginator>