<div fxLayout="row" fxLayoutAlign="space-around stretch">
    
    <div fxLayout="column" fxFlex="90vh">
    
        <app-sunburst id="stampede2" dataSrc="stampede2.json" heightCont="60vh"></app-sunburst>
        <p class="divider" fxFlexAlign="center"> To explore stampede2 more click <a [routerLink]="[ '/stampede2' ]">here</a> </p>
        <app-sunburst-table fxFlex="30vh" dataSrc="stampede2.json"></app-sunburst-table>
    </div>
    
    <div fxLayout="column" fxFlex="90vh">
        
        <app-sunburst id="frontera" dataSrc="frontera.json" heightCont="60vh"></app-sunburst>
        <p class="divider" fxFlexAlign="center"> To explore frontera more click <a [routerLink]="[ '/frontera' ]">here</a> </p>
        <app-sunburst-table fxFlex="30vh" dataSrc="frontera.json"></app-sunburst-table>
    
    </div>

</div>
