<div fxLayout="row" fxLayoutAlign="space-around stretch">
    
    <div fxLayout="column" fxFlex="45">
    
        <app-sunburst dataSrc="stampede2" heightCont="55vh" [showUpper]="true"></app-sunburst>
        <app-sunburst-table heightCont="30vh" dataSrc="stampede2" [searchActive]="false"></app-sunburst-table>
    </div>
    
    <div fxLayout="column" fxFlex="45">
        
        <app-sunburst dataSrc="frontera" heightCont="55vh" [showUpper]="true"></app-sunburst>
        <app-sunburst-table heightCont="30vh" dataSrc="frontera" [searchActive]="false"></app-sunburst-table>
    
    </div>

</div>
