<div class="container">Top 10</div>

<app-racknodeselect (rackSelected)="retrieveData($event)" (nodeSelected)="retrieveData($event)"></app-racknodeselect>

<br>

<div id="select-container">
    <mat-radio-group>
        <mat-radio-button value="value1">Institution</mat-radio-button>
        <mat-radio-button value="value2">Projects</mat-radio-button>
    </mat-radio-group>
</div>

<br>

<app-loading [loading]="loading"></app-loading>

<br>

<div class="container">
    <app-topten-barchart [data]="data"></app-topten-barchart>
</div>