<mat-toolbar>
    <a class="toolbar-buttons" mat-button [routerLink]="[ '/' ]">Home</a>
    <button class="toolbar-buttons" mat-button [matMenuTriggerFor]="detailMenu">
        Systems
    </button>

    <span class="fill-space"></span>

    <a mat-icon-button href="https://github.com/TACC/Visqueue" target="_blank" aria-label="GitHub repository">
        <ng-icon name="octMarkGithubLarge"></ng-icon>
    </a>

</mat-toolbar>

<mat-menu #detailMenu=matMenu> 
    <button mat-menu-item [routerLink]="['/detail', 'stampede3']" >Stampede3</button>
    <button mat-menu-item [routerLink]="['/detail', 'frontera']" >Frontera</button>
    <button mat-menu-item [routerLink]="['/detail', 'ls6']" >Lonestar6</button>
</mat-menu>
