<mat-toolbar>
    <a class="toolbar-buttons" mat-button [routerLink]="[ '/' ]">Visqueue</a>
   
    <button class="toolbar-buttons" mat-button [matMenuTriggerFor]="detailMenu">
        Details
    </button>

    <button class="toolbar-buttons" mat-button [matMenuTriggerFor]="nodeLifeMenu">
        Life of a Node
    </button>

    <span class="fill-space"></span>
    
    <a class="toolbar-buttons" mat-button href="https://github.com/TACC/Visqueue">
        <img src="assets/images/GitHub-Mark-Light-32px.png" alt="GitHub">
        GitHub
    </a>

</mat-toolbar>

<mat-menu #detailMenu=matMenu> 
    <button mat-menu-item [routerLink]="['/detail', 'stampede2']" >Stampede2</button>
    <button mat-menu-item [routerLink]="['/detail', 'frontera']" >Frontera</button>
    <button mat-menu-item [routerLink]="['/detail', 'lonestar5']" >Lonestar5</button>
    <button mat-menu-item [routerLink]="['/detail', 'wrangler']" >Wrangler</button>
</mat-menu>

<mat-menu #nodeLifeMenu=matMenu> 
    <button mat-menu-item [routerLink]="['/nodelife', 'frontera']" >Frontera</button>
</mat-menu>

