.flex-row
{
    display         : flex;
    flex-direction  : row;
    justify-content: space-around;
    align-items     : center;
    flex-flow       : row wrap;
    text-align      : center;
}

.item
{
    flex: 0 1 100%;
    padding: 50px;
}

#ne-left
{
    flex : 0 1 40%;
}

#ne-right
{
    flex : 0 1 60%;
}