app-sunburst-table
{
    overflow-x: scroll;
}

mat-divider
{
    margin-top: 1vh;
    margin-bottom: 10vh;
}

div.flex-container
{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

app-sunburst-table
{
    flex-grow: 2;
}

@media screen and (max-width: 1150px) 
{
    div.flex-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}