<ng-container *ngFor="let row of rackData">

    <div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <ng-container *ngFor="let rack of row['racks']">
            <div id="{{rack.name}}" class="rack" (click)="clickRack( rack )" >{{ rack.name }}</div>
        </ng-container>

    </div>

</ng-container>

<div id="nodeSelector">

    <h2 class="mat-h2">Select a Node</h2>

    <br>

    <mat-list id="nodeList">                 

        <button mat-button *ngFor="let node of nodeData" (click)="clickNode(node)">{{node.name}}</button>

    </mat-list>
    
</div>

<div id="nodeInfo">

    <h2 class="mat-h2">Node Information</h2>

    <br>



</div>