<div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <div class="rack">130</div>
    <div class="rack">129</div>
    <div class="rack">128</div>
    <div class="rack">127</div>
    <div class="rack">126</div>
    <div class="rack">125</div>
    <div class="rack">124</div>
    <div class="rack">123</div>
    <div class="rack">122</div>
    <div class="rack">121</div>
    <div class="rack">120</div>
    <div class="rack">119</div>
    <div class="rack">118</div>
    <div class="rack">117</div>
    <div class="rack">116</div>
    <div class="rack">115</div>
    <div class="rack">114</div>
    <div class="rack">113</div>
    <div class="rack">112</div>
    <div class="rack">111</div>
    <div class="rack">110</div>
    <div class="rack">109</div>
    <div class="rack">108</div>
    <div class="rack">107</div>
    <div class="rack">106</div>
    <div class="rack">105</div>
    <div class="rack">104</div>
    <div class="rack">103</div>
    <div class="rack">102</div>
    <div class="rack">101</div>

</div>


<div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <div class="rack">160</div>
    <div class="rack">159</div>
    <div class="rack">158</div>
    <div class="rack">157</div>
    <div class="rack">156</div>
    <div class="rack">155</div>
    <div class="rack">154</div>
    <div class="rack">153</div>
    <div class="rack">152</div>
    <div class="rack">151</div>
    <div class="rack">150</div>
    <div class="rack">149</div>
    <div class="rack">148</div>
    <div class="rack">147</div>
    <div class="rack">146</div>
    <div class="rack">145</div>
    <div class="rack">144</div>
    <div class="rack">143</div>
    <div class="rack">142</div>
    <div class="rack">141</div>
    <div class="rack">140</div>
    <div class="rack">139</div>
    <div class="rack">138</div>
    <div class="rack">137</div>
    <div class="rack">136</div>
    <div class="rack">135</div>
    <div class="rack">134</div>
    <div class="rack">133</div>
    <div class="rack">132</div>
    <div class="rack">131</div>

</div>

<div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <div class="rack">191</div>
    <div class="rack">190</div>
    <div class="rack">189</div>
    <div class="rack">188</div>
    <div class="rack">187</div>
    <div class="rack">186</div>
    <div class="rack">185</div>
    <div class="rack">184</div>
    <div class="rack">183</div>
    <div class="rack">182</div>
    <div class="rack">181</div>
    <div class="rack">180</div>
    <div class="rack">179</div>
    <div class="rack">178</div>
    <div class="rack">177</div>
    <div class="rack">176</div>
    <div class="rack">175</div>
    <div class="rack">174</div>
    <div class="rack">173</div>
    <div class="rack">172</div>
    <div class="rack">171</div>
    <div class="rack">170</div>
    <div class="rack">169</div>
    <div class="rack">168</div>
    <div class="rack">167</div>
    <div class="rack">166</div>
    <div class="rack">165</div>
    <div class="rack">164</div>
    <div class="rack">163</div>
    <div class="rack">162</div>
    <div class="rack">161</div>

</div>