<div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <div id="c130" class="rack" (click)="clickRack( $event )">130</div>
    <div id="c129" class="rack" (click)="clickRack( $event )">129</div>
    <div id="c128" class="rack" (click)="clickRack( $event )">128</div>
    <div id="c127" class="rack" (click)="clickRack( $event )">127</div>
    <div id="c126" class="rack" (click)="clickRack( $event )">126</div>
    <div id="c125" class="rack" (click)="clickRack( $event )">125</div>
    <div id="c124" class="rack" (click)="clickRack( $event )">124</div>
    <div id="c123" class="rack" (click)="clickRack( $event )">123</div>
    <div id="c122" class="rack" (click)="clickRack( $event )">122</div>
    <div id="c121" class="rack" (click)="clickRack( $event )">121</div>
    <div id="c120" class="rack" (click)="clickRack( $event )">120</div>
    <div id="c119" class="rack" (click)="clickRack( $event )">119</div>
    <div id="c118" class="rack" (click)="clickRack( $event )">118</div>
    <div id="c117" class="rack" (click)="clickRack( $event )">117</div>
    <div id="c116" class="rack" (click)="clickRack( $event )">116</div>
    <div id="c115" class="rack" (click)="clickRack( $event )">115</div>
    <div id="c114" class="rack" (click)="clickRack( $event )">114</div>
    <div id="c113" class="rack" (click)="clickRack( $event )">113</div>
    <div id="c112" class="rack" (click)="clickRack( $event )">112</div>
    <div id="c111" class="rack" (click)="clickRack( $event )">111</div>
    <div id="c110" class="rack" (click)="clickRack( $event )">110</div>
    <div id="c109" class="rack" (click)="clickRack( $event )">109</div>
    <div id="c108" class="rack" (click)="clickRack( $event )">108</div>
    <div id="c107" class="rack" (click)="clickRack( $event )">107</div>
    <div id="c106" class="rack" (click)="clickRack( $event )">106</div>
    <div id="c105" class="rack" (click)="clickRack( $event )">105</div>
    <div id="c104" class="rack" (click)="clickRack( $event )">104</div>
    <div id="c103" class="rack" (click)="clickRack( $event )">103</div>
    <div id="c102" class="rack" (click)="clickRack( $event )">102</div>
    <div id="c101" class="rack" (click)="clickRack( $event )">101</div>
 
</div>


<div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <div id="c160" class="rack" (click)="clickRack( $event )">160</div>
    <div id="c159" class="rack" (click)="clickRack( $event )">159</div>
    <div id="c158" class="rack" (click)="clickRack( $event )">158</div>
    <div id="c157" class="rack" (click)="clickRack( $event )">157</div>
    <div id="c156" class="rack" (click)="clickRack( $event )">156</div>
    <div id="c155" class="rack" (click)="clickRack( $event )">155</div>
    <div id="c154" class="rack" (click)="clickRack( $event )">154</div>
    <div id="c153" class="rack" (click)="clickRack( $event )">153</div>
    <div id="c152" class="rack" (click)="clickRack( $event )">152</div>
    <div id="c151" class="rack" (click)="clickRack( $event )">151</div>
    <div id="c150" class="rack" (click)="clickRack( $event )">150</div>
    <div id="c149" class="rack" (click)="clickRack( $event )">149</div>
    <div id="c148" class="rack" (click)="clickRack( $event )">148</div>
    <div id="c147" class="rack" (click)="clickRack( $event )">147</div>
    <div id="c146" class="rack" (click)="clickRack( $event )">146</div>
    <div id="c145" class="rack" (click)="clickRack( $event )">145</div>
    <div id="c144" class="rack" (click)="clickRack( $event )">144</div>
    <div id="c143" class="rack" (click)="clickRack( $event )">143</div>
    <div id="c142" class="rack" (click)="clickRack( $event )">142</div>
    <div id="c141" class="rack" (click)="clickRack( $event )">141</div>
    <div id="c140" class="rack" (click)="clickRack( $event )">140</div>
    <div id="c139" class="rack" (click)="clickRack( $event )">139</div>
    <div id="c138" class="rack" (click)="clickRack( $event )">138</div>
    <div id="c137" class="rack" (click)="clickRack( $event )">137</div>
    <div id="c136" class="rack" (click)="clickRack( $event )">136</div>
    <div id="c135" class="rack" (click)="clickRack( $event )">135</div>
    <div id="c134" class="rack" (click)="clickRack( $event )">134</div>
    <div id="c133" class="rack" (click)="clickRack( $event )">133</div>
    <div id="c132" class="rack" (click)="clickRack( $event )">132</div>
    <div id="c131" class="rack" (click)="clickRack( $event )">131</div>

</div>

<div class="rackContainer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <div id="c191" class="rack" (click)="clickRack( $event )" >191</div>
    <div id="c190" class="rack" (click)="clickRack( $event )" >190</div>
    <div id="c189" class="rack" (click)="clickRack( $event )" >189</div>
    <div id="c188" class="rack" (click)="clickRack( $event )" >188</div>
    <div id="c187" class="rack" (click)="clickRack( $event )" >187</div>
    <div id="c186" class="rack" (click)="clickRack( $event )" >186</div>
    <div id="c185" class="rack" (click)="clickRack( $event )" >185</div>
    <div id="c184" class="rack" (click)="clickRack( $event )" >184</div>
    <div id="c183" class="rack" (click)="clickRack( $event )" >183</div>
    <div id="c182" class="rack" (click)="clickRack( $event )" >182</div>
    <div id="c181" class="rack" (click)="clickRack( $event )" >181</div>
    <div id="c180" class="rack" (click)="clickRack( $event )" >180</div>
    <div id="c179" class="rack" (click)="clickRack( $event )" >179</div>
    <div id="c178" class="rack" (click)="clickRack( $event )" >178</div>
    <div id="c177" class="rack" (click)="clickRack( $event )" >177</div>
    <div id="c176" class="rack" (click)="clickRack( $event )" >176</div>
    <div id="c175" class="rack" (click)="clickRack( $event )" >175</div>
    <div id="c174" class="rack" (click)="clickRack( $event )" >174</div>
    <div id="c173" class="rack" (click)="clickRack( $event )" >173</div>
    <div id="c172" class="rack" (click)="clickRack( $event )" >172</div>
    <div id="c171" class="rack" (click)="clickRack( $event )" >171</div>
    <div id="c170" class="rack" (click)="clickRack( $event )" >170</div>
    <div id="c169" class="rack" (click)="clickRack( $event )" >169</div>
    <div id="c168" class="rack" (click)="clickRack( $event )" >168</div>
    <div id="c167" class="rack" (click)="clickRack( $event )" >167</div>
    <div id="c166" class="rack" (click)="clickRack( $event )" >166</div>
    <div id="c165" class="rack" (click)="clickRack( $event )" >165</div>
    <div id="c164" class="rack" (click)="clickRack( $event )" >164</div>
    <div id="c163" class="rack" (click)="clickRack( $event )" >163</div>
    <div id="c162" class="rack" (click)="clickRack( $event )" >162</div>
    <div id="c161" class="rack" (click)="clickRack( $event )" >161</div>

</div>