<div class="container">
    
    <mat-form-field appearance="fill">
        <mat-label>Select Search Field</mat-label>
        <mat-select [(value)]="fieldSelected">
            <mat-option *ngFor="let option of selectOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [disabled]="!fieldSelected" [(ngModel)]="input">
    </mat-form-field>

    <mat-radio-group [(ngModel)]="renderSelected">
        <mat-radio-button *ngFor="let option of radioOptions" [value]="option">{{option}}</mat-radio-button>
    </mat-radio-group>
      
    <button mat-flat-button color="primary" (click)="onRender()">Render</button>
    
    <mat-progress-bar
        [mode]="searching ? 'indeterminate' : 'determinate'">
    </mat-progress-bar>
</div>

