<div class="container">
    
    <mat-form-field appearance="fill">
        <mat-label>Select Search Field</mat-label>
        <mat-select [(value)]="fieldSelected">
            <mat-option *ngFor="let option of mainOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Options</mat-label>
        <mat-select [(value)]="valueSelected">
            <ng-container [ngSwitch]="fieldSelected">
                <ng-container *ngSwitchCase="'Field of Science'">
                    <mat-option *ngFor="let option of fosOptions" [value]="option.value">
                        {{option.name | titlecase }}
                    </mat-option>
                </ng-container>
                <ng-container *ngSwitchCase="'Project'">
                    <mat-option *ngFor="let option of projOptions" [value]="option.value">
                        {{option.name | titlecase }}
                    </mat-option>
                </ng-container>
                <ng-container *ngSwitchCase="'Institution'">
                    <mat-option *ngFor="let option of instOptions" [value]="option.value">
                        {{option.name | titlecase }}
                    </mat-option>
                </ng-container>                
            </ng-container>
            
        </mat-select>
    </mat-form-field>

    <!-- <mat-radio-group [(ngModel)]="renderSelected">
        <mat-radio-button *ngFor="let option of radioOptions" [value]="option">{{option}}</mat-radio-button>
    </mat-radio-group> -->
      
    <button mat-flat-button color="primary" (click)="onRender()">Render</button>
    
    <mat-progress-bar
        [mode]="searching ? 'indeterminate' : 'determinate'">
    </mat-progress-bar>
</div>

