<div fxLayout="row" fxLayoutAlign="space-around center">
    
    <h1 class="mat-h1">Search</h1>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
    
<form [formGroup]="searchForm" (ngSubmit)='onSearchSubmit()' id="formContainer">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="200px">
        
        <mat-form-field>
        
                <input 
                    matInput 
                    [matDatepicker]="startpicker" 
                    placeholder="Choose Start Date"
                    formControlName="startdate">
                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                <mat-datepicker #startpicker></mat-datepicker> 
                
        </mat-form-field>
            
        <mat-form-field>
        
            <input matInput [matDatepicker]="endpicker" placeholder="Choose End Date">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker> 
        
        </mat-form-field>
    
    </div>
    
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="50px">
        <button type="button" mat-raised-button color="accent">Clear</button>
        <button type="submit" mat-raised-button color="primary">Search</button>
    </div>

</form>

</div>


<div fxLayout="row" fxLayoutAlign="space-around center">
    
            
    <table class="mat-elevation-z8" mat-table [dataSource]="dataResult" matSort>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Project </th>
            <td mat-cell *matCellDef="let row"> {{ row.project.name }} </td>
        </ng-container>

        <ng-container matColumnDef="starttime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Start Time </th>
            <td mat-cell *matCellDef="let row"> {{ row.starttime | date : 'medium' }} </td>
        </ng-container>

        <ng-container matColumnDef="endtime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > End Time </th>
            <td mat-cell *matCellDef="let row"> {{ row.endtime | date : 'medium' }} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Duration </th>
            <td mat-cell *matCellDef="let row"> {{ row.duration | jobDuration }} </td>
        </ng-container>

        <ng-container matColumnDef="nodes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > # Nodes </th>
            <td mat-cell *matCellDef="let row"> {{ row.nodes }} </td>
        </ng-container>

        <ng-container matColumnDef="queue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Queue </th>
            <td mat-cell *matCellDef="let row"> {{ row.queue }} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > State </th>
            <td mat-cell *matCellDef="let row"> {{ row.state }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns : columnsToDisplay;"></tr>

    </table>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">

    <mat-paginator [pageSize]="10" [pageSizeOptions]='[10, 25, 50, 100]' showFirstLastButtons></mat-paginator>

</div>

<app-bar-chart [dataset]="dataset"></app-bar-chart>