<div class="container">
    <h2 class="mat-h2">Top Table</h2>
</div>

<div class="container">

    <mat-form-field>
        <mat-label>Column 1</mat-label>
        <mat-select [(value)]="selectedCol1" (selectionChange)="onSelection()">
            <mat-option *ngFor="let option of firstCol" [value]="option.value">
                {{option.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Column 2</mat-label>
        <mat-select [(value)]="selectedCol2" (selectionChange)="onSelection()">
            <mat-option *ngFor="let option of secondCol" [value]="option.value">
                {{option.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Column 3</mat-label>
        <mat-select [(value)]="selectedCol3" (selectionChange)="onSelection()">
            <mat-option *ngFor="let option of thirdCol" [value]="option.value">
                {{option.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<table mat-table matSort [dataSource]="data" class="mat-elevation-z8">
    
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>
    
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
        <td mat-cell *matCellDef="let element"> {{ element.value | number }} </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[10]"></mat-paginator>