<div class="container">
    <mat-form-field>
        <mat-label>Rack</mat-label>
        <mat-select (selectionChange)="selectRack($event)" [(value)]="selectedRack">
            <mat-option *ngFor="let rack of racks" [value]="rack">{{ rack.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Select Node</mat-label>
        <mat-select (selectionChange)="selectNode($event)">
            <mat-option *ngFor="let node of nodes" [value]="node">{{ node }}</mat-option>
        </mat-select>
    </mat-form-field>    
</div>
<div class="container">
    
    <ng-container *ngIf="loading; then thenTemplate; else elseTemplate"></ng-container>
    
    <ng-template #thenTemplate>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>    
    </ng-template>
    
    <ng-template #elseTemplate>    
        <mat-progress-bar mode="determinate" value="0" #elseBlock></mat-progress-bar>
    </ng-template>
        
</div>
<div class="container">
    <canvas baseChart
    [data]="polarAreaChartData"
    [labels]="polarAreaChartLabels"
    [legend]="polarAreaLegend"
    [chartType]="polarAreaChartType"
    [colors]="polarAreaChartColors">
  </canvas>
</div>

