img 
{
    width  : auto;
    height : 10vh;
}

.flex-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 650px) 
{

    .flex-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}