<div *ngIf="showUpper" id="upperContainer" fxLayout="row" fxLayoutAlign="space-around center">

    <img src="../assets/images/{{ dataSrc }}.png" alt="System Logo for {{ dataSrc }}">

    <div id="dataContainer" class="mat-small" fxLayout="row" fxLayoutAlign="space-around center">
        {{ fosCount }} Fields of Science &nbsp; &nbsp; | &nbsp; &nbsp; {{ jobCount }} Jobs &nbsp; &nbsp; | &nbsp; &nbsp; {{ utilization | percent }} Utilization
    </div>

    <a id="exploreLink" class="mat-body" mat-stroked-button routerLink="/detail/{{ dataSrc }}"> Explore More {{dataSrc}} ></a>

</div>


<mat-divider *ngIf="showUpper"></mat-divider>

<div class="graphCont" #graphCont></div>

<div fxLayout="row" fxLayoutAlign="space-around center" >
    <span class="mat-body-strong"> 
        timestamp : {{ timestamp }}
    </span>
</div>
