footer
{
    background: #5d5d60;
    color: #fbf8f8;
    margin-top: 20px;
}

div.footer-container
{
    padding: 10px 0px;
}

img.footer-logo
{
    height: 50px;
}

p.footer-content a#email-link
{
    color: #fbf8f8;
}