<div class="flex-column">

    <h1 class="mat-h1">Information</h1>
    <i>Data current as of {{ timestamp | date }}</i>

    <div class="flex-container">

        <mat-card class="mat-elevation-z2 jcc">
            <mat-card-title>
                <ng-container [ngSwitch]="jobVal">
                    <ng-container *ngSwitchCase="'JobsDisplayEnum.Total'">
                        {{ jobTotal | number }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'JobsDisplayEnum.Completed'">
                        {{ jobCompleted | number }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ jobTotal | number }}
                    </ng-container>
                </ng-container>
            </mat-card-title>
            <mat-card-subtitle>
                Jobs
            </mat-card-subtitle>
            <mat-card-footer>
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="jobsText('JobsDisplayEnum.Total')"     > Total      </mat-button-toggle>
                    <mat-button-toggle (click)="jobsText('JobsDisplayEnum.Completed')" > Completed  </mat-button-toggle>
                </mat-button-toggle-group>           
            </mat-card-footer>
        </mat-card>
        
        
        <mat-card class="mat-elevation-z2 jcc">
            <mat-card-title>
                {{ hrsTotal | number : '1.0-0' }}
            </mat-card-title>
            <mat-card-subtitle>
                Compute Hours
            </mat-card-subtitle>
        </mat-card>
        
        
        <mat-card class="mat-elevation-z2 jcc">
            <mat-card-title>
                {{ projTotal | number }}
            </mat-card-title>
            <mat-card-subtitle>
                Projects
            </mat-card-subtitle>
        </mat-card>
        
        
        <mat-card fxFlex="20" class="mat-elevation-z2 jcc">
            <mat-card-title>
                {{ instTotal | number }}
            </mat-card-title>
            <mat-card-subtitle>
                Institutions
            </mat-card-subtitle>
        </mat-card>
    
    </div>
</div>




<br>

<div>
    <canvas baseChart
        [data]="fosByProjBarChartData"
        [options]="fosByProjBarChartOptions"
        [legend]="barChartLegend"
        chartType="bar">
    </canvas>
</div>


<div>
    <canvas baseChart
        [data]="fosByJobBarChartData"
        [options]="fosByJobBarChartOptions"
        [legend]="barChartLegend"
        chartType="bar">
    </canvas>
</div>

<div>
    <canvas baseChart
        [data]="fosByNodesBarChartData"
        [options]="fosByNodesBarChartOptions"
        [legend]="barChartLegend"
        chartType="bar">
    </canvas>
</div>

<div>
    <canvas baseChart
        [data]="fosByDurationBarChartData"
        [options]="fosByDurationBarChartOptions"
        [legend]="barChartLegend"
        chartType="bar">
    </canvas>
</div>

<br>

<app-time-series-graph></app-time-series-graph>

<br>

<app-info-table [tableData]="fosTableData"></app-info-table>

<app-info-map [mapData]="fosMapData"></app-info-map>
