<div fxLayout="row" fxLayoutAlign="space-around center">
    
    <h1 class="mat-h1">Information</h1>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card fxFlex="20" class="mat-elevation-z2">
        <mat-card-title>
            {{ jobsTotal | number }}
        </mat-card-title>
        <mat-card-subtitle>
            Jobs
        </mat-card-subtitle>
    </mat-card>
    <mat-card fxFlex="20" class="mat-elevation-z2">
        <mat-card-title>
            {{ projectsTotal | number }}
        </mat-card-title>
        <mat-card-subtitle>
            Projects
        </mat-card-subtitle>
    </mat-card>
    <mat-card fxFlex="20" class="mat-elevation-z2">
        <mat-card-title>
            {{ fosTotal | number }}
        </mat-card-title>
        <mat-card-subtitle>
            Fields of Science
        </mat-card-subtitle>
    </mat-card>
    <mat-card fxFlex="20" class="mat-elevation-z2">
        <mat-card-title>
            {{ institutionTotal | number }}
        </mat-card-title>
        <mat-card-subtitle>
            Institutions
        </mat-card-subtitle>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxFlex="40" style="display: block">
        <canvas baseChart
            [datasets]="fosByProjBarChartData"
            [labels]="fosByProjBarChartLabels"
            [options]="fosByProjBarChartOptions"
            [legend]="fosByProjBarChartLegend"
            [chartType]="fosByProjBarChartType">
        </canvas>
    </div>

    <div fxFlex="40" style="display: block">
        <canvas baseChart
            [datasets]="fosByJobBarChartData"
            [labels]="fosByJobBarChartLabels"
            [options]="fosByJobBarChartOptions"
            [legend]="fosByJobBarChartLegend"
            [chartType]="fosByJobBarChartType">
        </canvas>
    </div>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxFlex="40" style="display: block">
        <canvas baseChart
            [datasets]="fosByNodesBarChartData"
            [labels]="fosByNodesBarChartLabels"
            [options]="fosByNodesBarChartOptions"
            [legend]="fosByNodesBarChartLegend"
            [chartType]="fosByNodesBarChartType">
        </canvas>
    </div>

    <div fxFlex="40" style="display: block">
        <canvas baseChart
            [datasets]="fosByDurationBarChartData"
            [labels]="fosByDurationBarChartLabels"
            [options]="fosByDurationBarChartOptions"
            [legend]="fosByDurationBarChartLegend"
            [chartType]="fosByDurationBarChartType">
        </canvas>
    </div>

</div>
